# Java
*.class
*.jar
target/
*.war

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
dist/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store
